[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/harshitaCAI
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/harshitaCAI
	label-Verified = -1..+1 group user/harshitaCAI
	push = group user/harshitaCAI
	read = group user/harshitaCAI
	rebase = group user/harshitaCAI
	removeReviewer = group user/harshitaCAI
	submit = group user/harshitaCAI
[access "refs/heads/*"]
	create = group user/harshitaCAI
	push = +force group user/harshitaCAI
	pushMerge = group user/harshitaCAI
	read = group user/harshitaCAI
	exclusiveGroupPermissions = pushMerge
[access "refs/tags/*"]
	push = group user/harshitaCAI
	push = +force group user/harshitaCAI
